.container {
    z-index: 5;
    height: auto;
    width: auto;
    overflow: hidden;
    position: sticky;
    top: 1px;
    text-align: center;
    border-radius: 7px;
    background-color: cadetblue;
  }

  .containerbody {
    margin-top:7px!important;
    z-index: 5;
    height: auto;
    width: auto;
    overflow: hidden;
    background: white;
    position: sticky;
    top: 0px;
    text-align: center;
  }
  
  .searchbar-form .search-key-box {
    position: relative;
    width: auto;
    overflow: hidden;
    height: 40px;
    border: 1px solid cadetblue;
    border-radius: 6px 0 0 6px;
  }

  .search-button{
    visibility: hidden;
  }

.logo
{
   width:90px;
}

.nav>.nav-links {
    font-size: 16px;
    display: inline;
    overflow: hidden;
    bottom: 0;
  }

  .nav-link, .nav>.nav-links>ul li a {
    color: black;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 0 8px;
    text-decoration: none;
  }

  .nav>.nav-links>ul {
    list-style: none;
    position: relative;
  }


.nav>.nav-links>ul li:hover {
    background-color: cadetblue; 
    border-radius: 5px;
  }

  .nav>.nav-links>ul li.active {
    background-color: cadetblue;
    border-radius: 5px;
  }

  .nav>.nav-links>ul li {
    display: inline-block;
    margin: 10px;
  }

  .nav>.nav-btn {
    display: none;
  }

  .nav>#nav-check {
    display: none;
  }

  ul.navLinks li.icon {
    display: none;
  }
  
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width:100%!important;
   }

   .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }